$primary-color: #4c5258;
$secondary-color: #d7d7d7;
$dark-900: #212529;
$dark-800: #1a2232;

$white-900: #fff;
$white-700: #f7f8fa;
$white-500: #d7d7d7;

$gray-100: rgba(0, 0, 0, 0.55);
$gray-500: #5f5f5f;
$gray-900: #34383f;

$blue: #3461ff;
$yellow: #ffcb32;
