$primary: #39475a;
$onPrimary: #000;
$PrimaryContainer: #000;
$onPrimaryContainer: #000;

$secondary: #000;
$onSecondary: #000;
$secondaryContainer: #000;
$onSecondaryContainer: #000;

$tertiary: #000;
$onTertiary: #000;
$tertiaryContainer: #000;
$onTertiaryContainer: #000;

$white: #ffffff;
$onWhite: #000;
$whiteContainer: #000;
$onWhiteContainer: #000;

$green: #22c55e;
$sky: #0284c4;
$onBlueContainer: #334155;
